.about-container {
    padding: 2vw;
    background-color: #FFF4ED;
    display: flex;
    flex-wrap: wrap;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

@media (max-width: 600px) {
    .about-container {
        padding: 4vw;
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
    }
}
