.about-container {
    padding: 2vw;
    background-color: #FFF4ED;
    display: flex;
    flex-wrap: wrap;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

.curved-box {
  width: 90%;
  align: center;
  height: 275px;
  background-color: rgb(228, 156, 84);
  border-radius: 20px; 
}

.highlight-section {
  background-color: skyblue; /* You can use names, Hex, or RGBBOOP */
  padding: 20px; /* Optional: adds space inside the color box */
}

@media (max-width: 600px) {
    .about-container {
        padding: 4vw;
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
    }
}
